{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="container mt-4">
                <div class="col-sm-6">
                    <h2 class="display-4">Reset Password</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-gray-800" href="{% url 'login' %}">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                                Forgot Password
                            </li>
                        </ol>
                    </nav>
                    <p>I have mailed you instruction for resetting your password</p>
                    <p>if you have didn't recive it verified you entered the correct email and / or check your spam folder</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}