{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="wrapper">
    <div class="header">
        <div class="top">
            <div class="pinlogo">
                <img src="{% static 'assets/images/lock.png' %}" alt="instagram">
            </div>
            <div class="form d-flex text-align-center justify-content-center">
                <form method="post">
                    {% csrf_token %}

                    <div class="input_field">
                        <h6><strong>Trouble logging in?</strong></h6>
                    </div>
                    <div class="input_field">
                        <p>Enter the email so that we can send you the link to reset password.</p>
                    </div>

                    <div class="input_field mb-4">
                        <label>{{field.label_tag}}</label>
                        <p>{{ form|crispy }}</p>
                    </div>

                    <button class="btn btn-primary d-flex text-align-center p-2" type="submit">
                        SEND PASSWORD RESET LINK
                    </button>
                </form>
            </div>
        </div>
        <div class="go_back">
            <p><strong><a href="{% url 'login' %}">Back to login</a></strong></p>
        </div>
    </div>
</div>
{% endblock %}