{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- SIDEBAR -->
        <div class="col-md-2 border">
            {% include 'main/sidebar.html' %}
        </div>
        <!-- MAIN -->
        <div class="col-md-8 offset-md-1">
            <div class="row border-bottom pb-5">
                {% include 'components/message.html' %}
                <div class="col-md-4 d-flex justify-content-center">
                    {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle mt-4"
                        style="height: 200px; width: 200px;" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <div class="row d-flex flex-row">
                                <div class="col-md-5 p-0 d-flex justify-content-start">
                                    <h4><strong>{{ user_profile.username }}</strong></h4>
                                </div>
                                <div class="col-md-auto d-flex justify-content-center">
                                    {% if user_profile.username == request.user %}
                                    <a href="{% url 'update_profile' %}" class="btn btn-primary">
                                        Edit Profile
                                    </a>
                                    {% else %}
                                    {% if account_type == 'public' %}
                                    <form action="{% url 'follow' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="username" value="{{ user_profile.username }}">
                                        <input type="hidden" name="source_page" value="profile">
                                        {% if user_profile.username not in current_user_following_user_list %}
                                        <button type="submit" class="btn btn-primary">Follow</button>
                                        {% else %}
                                        <button type="submit" class="btn btn-primary">Following</button>
                                        {% endif %}
                                    </form>

                                    {% else %}
                                    <form action="{% url 'follow_request' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="username" value="{{ user_profile.username }}">
                                        <input type="hidden" name="source_page" value="profile">
                                        {% if not follow_request %}
                                        <button type="submit" class="btn btn-primary">Follow</button>
                                        {% elif not follow_request_accepted %}
                                        <button type="submit" class="btn btn-primary">Requested</button>
                                        {% elif follow_request_accepted %}
                                        <button type="submit" class="btn btn-primary">Following</button>
                                        {% endif %}
                                    </form>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <!-- <div class="col-md-auto p-0 d-flex justify-content-start">
                                    <a href="" class="btn btn-primary">
                                        Message
                                    </a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-12 p-0 mt-3">
                            <div class="row d-flex flex-row">
                                <div class="col-md-3">
                                    <span style="font-size: 18px;"><strong>{{ post_count }}</strong> post</span>
                                </div>
                                <div class="col-md-3">
                                    <a href="" style="font-size: 18px;"><strong>{{ followers_count }}</strong>
                                        followers</a>
                                </div>
                                <div class="col-md-3">
                                    <a href="" style="font-size: 18px;"><strong>{{ following_count }}</strong>
                                        following</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 mt-3">
                            <div class="row d-flex flex-column">
                                <strong>{{ user_profile.fullname }}</strong>
                                <span>{{ user_profile.bio }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 mt-3">
                            {% if current_user != slug_user %}
                            {% if followed_by.0 and not followed_by.1 %}
                            <strong class="text-secondary">Followed by 
                                <a href="{% url 'profile' slug=followed_by.0 %}">
                                <strong>{{ followed_by.0 }}</strong>
                                </a>
                            </strong>
                            {% elif followed_by.0 and followed_by.1 %}
                            <strong class="text-secondary">Followed by 
                                <a href="{% url 'profile' slug=followed_by.0 %}">
                                    <strong>{{ followed_by.0 }}</strong>
                                </a>
                                and
                                <a href="{% url 'profile' slug=followed_by.1 %}">
                                    <strong>{{ followed_by.1 }}</strong>
                                    </a>
                            </strong>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if slug_user == request.user or account_type == 'public' %}
            <div class="row pt-3 pb-3 justify-content-center">
                <div class="col-md-2">
                    <a href="">
                        <i class="fa-solid fa-table-cells"></i> POSTS
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <i class="fa-regular fa-bookmark"></i> SAVED
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <i class="fa-regular fa-id-badge"></i> TAGGED</a>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4 p-0" style="height: 300px; overflow: hidden;">
                    <a href="{% url 'post' slug=post.slug %}">
                        <img src="{{ post.image.url }}" alt="" style="width: 100%; height: 100%; object-fit: cover;" />
                    </a>
                </div>
                {% endfor %}
            </div>
            {% elif slug_user not in current_user_following_user_list and account_type == 'private' %}
            <div class="row mt-3">
                <div class="col-md-5 offset-md-1 d-flex flex-row">
                    <div class="pinlogo">
                        <img src="{% static 'assets/images/lock.png' %}" alt="instagram">
                    </div>
                    <div class="d-flex flex-column private">
                        <strong>This account is private.</strong>
                        <span>Follow to see their photos.</span>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row pt-3 pb-3 justify-content-center">
                <div class="col-md-2">
                    <a href="">
                        <i class="fa-solid fa-table-cells"></i> POSTS
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <i class="fa-regular fa-bookmark"></i> SAVED
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <i class="fa-regular fa-id-badge"></i> TAGGED</a>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4 p-0" style="height: 300px; overflow: hidden;">
                    <a href="{% url 'post' slug=post.slug %}">
                        <img src="{{ post.image.url }}" alt="" style="width: 100%; height: 100%; object-fit: cover;" />
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}