.wrapper .header {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 50px auto;
}

.wrapper .header .top,
.wrapper .go_back {
    background: #fff;
    border: 1px solid #d6d4d4;
    border-radius: 1px;
    padding: 20px 40px 20px;
}

.wrapper .header .pinlogo {
    display: block;
    margin: 0 auto 20px;
    border: 2px solid black;
    border-radius: 50%;
    width: 140px;
}

.wrapper .header .pinlogo img {
    display: block;
    margin: 10px auto 20px;
    height: 100px;
}

.wrapper .header .form .input_field {
    margin-bottom: 5px;
}

.wrapper .header .form .input_field h6{
    text-align: center;
}

.wrapper .header .form .input_field p{
    font-size: 14px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}

.wrapper .header .form .input_field .input {
    width: 100%;
    background: #fafafa;
    border: 1px solid #dcd9d9;
    font-size: 14px;
    border-radius: 3px;
    color: #262626;
    padding: 10px;
}

.wrapper .header .form .input_field .input:focus {
    border: 1px solid #949393;
}

.wrapper .header .form .btn {
    padding-left: 0;
    margin: 10px 0px;
    text-align: center;
}

.wrapper .header .form .btn {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius:4px;
    color: #fff;
    padding: 5px;
    width: 100%;
}

.wrapper .go_back {
    margin: 10px 0 20px;
    padding: 25px 40px;
    text-align: center;
    color: #262626;
}

.wrapper .go_back p {
    margin: 0;
}