@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: "Abril Fatface", serif;        
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    color: black;
}
