{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error" style="display: block;">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="collapse('error')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% elif message.tags == 'success' %}
             <div class="alert alert-success alert-dismissible fade show" role="alert" id="success" style="display: block;">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="collapse('success')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% elif message.tags == 'warning' %}
             <div class="alert alert-warning alert-dismissible fade show" role="alert" id="warning" style="display: block;">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="collapse('warning')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}
    {% endfor %}
 {% endif %}